<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <div class="bungkus">
        <h3>ROHID GANTENG</h3>
        <form action="/insert" method="post">
            <div class="bungkusNilai">
                <div class="nilai">
                    <p class="judul">Name</p>
                    <div class="bungkusInput">
                        <input class="inputNilai" type="text" name="nama">
                    </div>
                </div>
                <div class="nilai">
                    <p class="judul">Email Address</p>
                    <div class="bungkusInput">
                        <input class="inputNilai" type="email" name="email" placeholder="example@example.com">
                    </div>
                </div>
                <div class="nilai">
                    <p class="judul">Password</p>
                    <div class="bungkusInput">
                        <input class="inputNilai" type="password" name="password">
                    </div>
                </div>
            </div>
            <input class="tombolSubmit" type="submit" value="Register">
        </form>
        <div class="tidakPunya">
            <p>Already have an account?</p>
            <a href="/login">sign in to account</a>
        </div>
    </div>
</body>
</html>